body{
background:#111;
color:white;
font-family:sans-serif;
text-align:center;
margin:0;
}

#gameContainer{
width:360px;
margin:auto;
}

canvas{
border:2px solid white;
image-rendering:pixelated;
width:100%;
}

#dialogueBox{
height:60px;
padding:10px;
background:#222;
margin-top:5px;
}

#controls{
display:flex;
justify-content:space-between;
margin-top:10px;
}

#joystickBase{
width:120px;
height:120px;
background:#333;
border-radius:60px;
position:relative;
touch-action:none;
}

#joystickStick{
width:50px;
height:50px;
background:#777;
border-radius:25px;
position:absolute;
left:35px;
top:35px;
}

.buttons{
display:grid;
grid-template-columns:repeat(2,70px);
grid-gap:6px;
}

.buttons button{
height:50px;
font-size:16px;
}

.wide{
grid-column:span 2;
}